body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

h2 {
    color: #0066cc;
    margin-top: 30px;
}

p {
    margin: 5px 0 10px 0;
}

a {
    text-decoration: none;
    color: #009966;
    font-weight: bold;
}

a:hover {
    color: #007744;
}

.fact-box {
    background-color: #ffffff;
    border-left: 5px solid #00bfff;
    border-bottom: #00bfff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.img {
    width: 300px;

    height: 300px;
    border-radius: 50%;
    border: 5px dashed rgb(20, 113, 220);
    object-fit: cover;
}

.text {
    cursor: grab;
    color: #0066cc;
    content: normal;
    text-decoration: double;
    margin: 5%;

}

.btn {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(14, 226, 233);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}